<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{'Futurizr': {'hasTouch': 'touch'}}">
<head>
<meta charset="utf-8">
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name="google-site-verification" content="Xo3pzA2ov60e8vyMfVoMl5-Qqkg3g0UziSNgahFA7go" />

<title>{{jsondata.funneltitle}}</title>
<meta name="description" content="{{jsondata.funneldescription}}">
<meta property="og:title" content="{{jsondata.funneltitle}}">
<meta property="og:description" content="{{jsondata.funneldescription}}">

<meta name="color-scheme" content="light only">

<link rel="icon" type="image/png" href="{{jsondata.funnelfavicon}}"/>
<meta name="robots" content="{{jsondata.funnelrobots}}">

<style>

:root {
         color-scheme: light only;
       }

        body {
            font-family: "Campton","Helvetica Neue",Helvetica,sans-serif;
            margin: 0px;
            font-size: 1.1rem;
		background-color:{{jsondata.funnelbackgroundcolor}};
        }

/* http://jsfiddle.net/dtLhsuzp/3/ */

.full-page-width {
    width: 100%;
    overflow: hidden;
    /*background-color:#ccc;*/
    height: auto;
}
.content-width {
    width:860px;
    margin: 0 auto;
 }
.center-content-container {
    height:auto;
    /* background-color:#aaa; */
    padding:0px;
}
.content-container {
    width: 100%;
    /* background-color:#777; */
    /* padding: 20px 0; */
}
.extended-content-container {
    width: 500%;
    margin-left: -200%;
   /* background-color:#447; */
   /* padding: 20px 0; */
}
.small-wide-content {
    min-height: 20px;
  /*  background-color:#ecff8b; */
    text-align:center;
}
.content {
    width:100%;
    min-height: 20px;
  /*  background-color:#ecff8b; */
    text-align:center;
}	
.extended-content {
    width:100%;
    min-height: 20px;
  /*  background-color:#ec008b; */
    text-align:center;
}
.header-content {
    min-height: 20px;
    background-color:#173248;
    text-align:center;
    height: 80px;
}
.footer-content {
    min-height: 20px; 
    background-color:rgb(23, 50, 72);
    text-align:center;
    padding: 10px;
    margin-top: 10px;
}

p{
    font-size:1em;
    line-height:1.4em;
}
@media (min-width:0px) and (max-width: 599px) {
	p{
		/* color:#f00; */
	}
}
@media (min-width:600px) and (max-width: 959px){
	p{
		/*color:#ff0;*/
		font-size:2em;
	}
	h2{
		font-size:2.4em;
	}
	
}
@media (min-width:960px)and (max-width: 1279px){
 /* iphone 13 */
	p{
		/*color:#f0f;*/
		font-size:2.4em;
	}
	h2{
		font-size:2.6em;
	}	
}
@media (min-width:1280px){
	p{
		/* color:#0ff; */
	}

}
@media (min-width:1920px){
	p{
		/* color:#00f; */
	}

}

</style>

<body>

<div class="full-page-width">
    <div class="content-width center-content-container">
