<link href="/cloudexternal/css/pflege/main.album.css?v=1.5" rel="stylesheet">

<div id="grid-cont">
	<section class="grid_outer chapter">


		<div class="article-content">
			<div>



				<h1 class="chapter-title">{{codelist[0].fnlHeadline}}</h1>
                <div style="line-height: 1.3em; font-size: 1.2em;">
                {{codelist[0].fnlText}}<br>
                <br>
                </div>
                <a href="/cloudwebfunnel/cc?f={{codelist[0].fnlLink|url_encode}}&cid={{cid}}"
                
                style="font: bold 11px Arial;
    text-decoration: none;
    background-color: #1ce119;
    color: #fff;
    font-size: 20px;
    padding: 10px 42px 10px 42px;"
                >Hier klicken zum Download</a>
             

			</div>
		</div>

	</section>
</div>







<script type="text/javascript" src="/cloudexternal/3rd/jquery/jquery-3.3.1.min.js"></script>

<script type="text/javascript">


(function ($) {
    $.fn.serializeFormJSON = function () {

        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
        	
        		var thename = this.name;
            //	console.log(thename);
            	//	thename = thename.replace(/^(email)/,"");
            //	console.log(thename);
        	
        	
            if (o[thename]) {

                if (!o[thename].push) {
                    o[thename] = [o[thename]];
                }
                o[thename].push(this.value || '');
            } else {
            	
                o[thename] = this.value || '';
            }
        });
        return o;
    };
})(jQuery);



     function checkinput(name) {
            $("#formlabel_"+name).css({ 'color': 'initial' });
            
          //  alert($("#form_"+name).val());
            
        if (($("#form_"+name).val()== null)||($("#form_"+name).val()=="")||($("#form_"+name).val().length<2)){
            console.log ("Nix drin, setze #formlabel_"+name+" auf rot");
            $("#formlabel_"+name).css({ 'color': 'red' });
            return 1;
        }else{
           // console.log (""+name+"='"+$("#form_"+name).val().trim()+"' length:'"+$("#form_"+name).val().length+"' ");
        }
        return 0;
    }



    function dosend3() {
      /* var regdaten = {
            email: $("#form_emaile1").val(),
            pw1: $("#form_passwordp1").val(),
            pw2: $("#form_passwordp2").val()
        }*/
        var data;
        
        var errorcnt=0;
       // errorcnt += checkinput("email");
        
        if (errorcnt > 0){
            console.log("--------Werte fehlen-!---------");
            return;
        }
        
        try{
        data = $('#loginform2id').serializeFormJSON();
        
        console.log("------------------");
        console.log(""+JSON.stringify(data));
        console.log("------------------");

        
    }
catch(err) {
  alert(err.message);
}
   
        $('#response3 pre').html('sending..');

        $.ajax({
            url: '/cloudwebfunnel/ajaxsave',
            type: 'post',
            xhrFields: {
              withCredentials: true
            },
            dataType: 'json',
            contentType: 'application/json',success: function (msg) {
            	console.log("got data:"+msg);
                //var data = $.parseJSON(msg);
                $('#response3 pre').html( msg.resulttxt );
                
                console.log("Got back BRAND:'"+msg.resulttxt+"'")
                if (msg.resultcode == "3"){
                    $('#response3 pre').html('Error');
                    $("#response3 pre").css("background-color", "red");
                    $("#response3 pre").css("color", "white");
                	//document.location.href="/cloudwebqr/addcalenderitemset?customerid={{customerid}}&m=err";  
                }
                if (msg.resultcode == "1"){
                    $('#response3 pre').html('Data saved');
                    $("#response3 pre").css("background-color", "green");
                	document.location.href="/cloudwebfunneleditor/start?m=codeadded";  
             // /cloudwebqr/showqrcodes?qrcodeId=def59ccf-ed11-4caa-806e-52bae2f95f12   	
                    	          
                  
                	
                	
                }
                //paramList = "{'username':'" + data.User + "','password':'" + data.Pass + "'}";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("get session failed " + errorThrown);
            },
            data: JSON.stringify(data)
        });
    }
</script>
